<div class="vertical-menu">
        <a href="/createpost" class="active">Create a post</a>
        <a href="/myposts">All my posts</a>
        <a href="/allposts">All our posts</a>
        <a href="/loggeduser">Home</a>
        <a href="/Logout">Logout</a>
        <button onclick="myFunction()" class="print-button"><span class="print-icon"></span></button>
</div>
    
<script>
        function myFunction() {
        window.print();
        }
</script>