<% include ./partials/header%>
<% include ./partials/navbar%>
<div class="error">
    <h1>Sorry soryy sorry sorry sorry <br> BUT <br> reg reggie register REGISTER</h1>
</div>
<% include ./partials/footer%>